---
import { getAllPosts, getHighlights, genOgpUrlquery, genPostSlug } from "@/utils/newt.ts";
// 最新記事取得部分
import Data from "@/utils/model/postformat.json";
type Post = typeof Data;
const post_response = await getAllPosts();
const posts: Post[] = post_response?.items;
const postslug = genPostSlug(posts[0].pubDate,posts[0]._sys.createdAt)

// ハイライト取得部分
import Highlight from "@/utils/model/highlightformat.json";
type Highlight = typeof Highlight;
const highlight_respose = await getHighlights();
const hightlight: Highlight = highlight_respose?.items[0];

// 以降レイアウト関連
import BaseLayout from "@/layouts/BookLayout.astro";
import Menu from "@/components/menu/main.astro";
import Pagelist_buttons from "@/components/pagelink_buttons/main.astro";

const pageUrl = "/";

// cardは切り抜いて自動生成
const card_urlquery = genOgpUrlquery(
                        hightlight.image.width,
                        hightlight.image.height,
                        hightlight.ogp_focus_bottom)
const cardUrl = hightlight.image.src + card_urlquery

import { global_vars } from "@/utils/vars.ts";
import { ImageDialog } from '@/utils/ImageDialog.tsx'
export const baseurl = global_vars.baseurl;
const pageTitle = global_vars.website_title;

import { Image } from 'astro:assets';
import img_cover_top_right from "@/images/cover_top_right.png"
import img_cover_top_center from "@/images/cover_top_center.png"
import img_cover_bottom from "@/images/cover_bottom.png"
import img_hint_msg from "@/images/hint_msg.png"
import "@/styles/postsformat.css";
---
<style>
    .div-parent{
        width: 100%; 
        display: flex;
        justify-content: flex-end;
    }
    .cover-top-center {
        max-width: 500px;
        
        margin-left: auto;
        margin-right: auto;
    }
    .cover-top-right {
        max-width: 200px;
    }
    .cover-top {
        height: auto;
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: 0px;
    }
    .cover-bottom {
        height: auto;
        width: 100%;
    }
    .cover-bottom-center {
        width: 60%;
        max-width: 250px;
        
        margin-left: auto;
        margin-right: auto;
    }
    .hint-msg {
        width: 40%;
        height: auto;
        max-width: 300px;
        position: absolute;
        left: 2%;
        top: 5%;
    }
</style>
<BaseLayout pageTitle={pageTitle} page_url={pageUrl} cardUrl={cardUrl}>
    <Menu slot="header" />
    <div class="div-parent">
        <div class="cover-top-center">
            <Image src={img_cover_top_center} alt="" class="cover-top" />
        </div>
        <div class="cover-top-right">
            <Image src={img_cover_top_right} alt="" class="cover-top" />
        </div>
    </div>
    <div style="position: relative">
        <Image src={img_hint_msg} alt="" class="hint-msg" />
        <ImageDialog client:load src={hightlight.image.src + "?format=auto"} />
    </div>
    <div class="div-parent">
        <div class="cover-bottom-center">
            <Image src={img_cover_bottom} alt="" class="cover-bottom" />
        </div>
    </div>


    <Pagelist_buttons
        slot="footer"
        baseurl={baseurl}
        nextpage_slug={false}
        prevpage_slug={postslug}
        currentpage_title={pageTitle}
    />
</BaseLayout>