---
import { getAllPosts, getHighlight, genOgpUrlquery, genPostSlug } from "@/utils/newt.ts";
// 最新記事取得部分
const post_response = await getAllPosts();
const posts = post_response.items;
const postslug = genPostSlug(posts[0].pubDate,posts[0]._id)

// ハイライト取得部分
const highlight_respose = await getHighlight();
const hightlight = highlight_respose;

// 以降レイアウト関連
import BaseLayout from "@/layouts/BookLayout.astro";
import Menu from "@/components/menu/main.astro";
import Pagerefbuttons from "@/components/pagerefbuttons.astro";

const pageUrl = Astro.url.pathname;

// cardは切り抜いて自動生成
const card_urlquery = genOgpUrlquery(
                        hightlight.image.width,
                        hightlight.image.height,
                        hightlight.ogp_focus_bottom)
const cardUrl = hightlight.image.src + card_urlquery

import { post_url, website_title, indexpage_slug } from "@/utils/vars.ts";
import { ImageDialog } from '@/utils/ImageDialog.tsx'

import { Picture } from 'astro:assets';
import img_hint_darkmode from "@/images/hint_darkmode.png"
import img_hint_menu from "@/images/hint_menu.png"
import img_hint_favo from "@/images/hint_favo.png"
import img_hint_responsive from "@/images/hint_responsive.png"
import img_hint_msg from "@/images/hint_msg.png"
import "@/styles/postsformat.css";
---
<style>
    .div-parent{
        width: 100%; 
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
    .cover-top {
        height: auto;
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: 0px;
    }
    .cover-bottom {
        height: auto;
        width: 100%;
    }

    .hint-darkmode {
        max-width: 170px;
    }
    .hint-menu {
        max-width: 450px;
        
        margin-left: auto;
        margin-right: auto;
    }
    .hint-favo {
        width: 60%;
        max-width: 250px;
        margin: auto;
    }
    .hint-responsive {
        position: absolute;
        width: 40%;
        max-width: 200px;
        right: 2%;
        top: -70%;
    }
    .hint-msg {
        width: 40%;
        height: auto;
        max-width: 300px;
        position: absolute;
        left: 2%;
        top: 5%;
        z-index: 2;
    }
</style>
<BaseLayout pageTitle={website_title} page_url={pageUrl} cardUrl={cardUrl}>
    <Menu slot="header" />
    <div class="div-parent">
        <div class="hint-menu">
            <Picture src={img_hint_menu} alt="" class="cover-top" />
        </div>
        <div class="hint-darkmode">
            <Picture src={img_hint_darkmode} alt="" class="cover-top" />
        </div>
    </div>
    <div style="position: relative">
        <Picture src={img_hint_msg} alt="Tap illust zoomin" class="hint-msg" />
        <ImageDialog client:load alt="TopPage" src={hightlight.image.src + "?format=auto"} />
    </div>
    <div class="div-parent">
        <div class="hint-responsive">
            <Picture src={img_hint_responsive} alt="PC Tablet Phone different design" class="cover-bottom" />
        </div>
        <div class="hint-favo">
            <Picture src={img_hint_favo} alt="infinity favorite ok;)" class="cover-bottom" />
        </div>
    </div>
    <Pagerefbuttons
        slot="footer"
        baseurl={post_url}
        nextpage_slug={false}
        prevpage_slug={postslug}
        currentpage_slug={indexpage_slug}
    />
</BaseLayout>