---
import { getCollection } from "astro:content";

const entry = await getCollection('posts');
entry.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

// 日付が最も新しいエントリーを拾ってくる
const filteredPost = entry[0];
const oldestPost = entry.at(-1);

export const baseurl = "/post/"

const pageTitle = "- welcom;e";
const url = Astro.url.pathname;
const card_name = "/cards/main.png"

import BaseLayout from '@/layouts/BookLayout.astro'
import Menu from '@/components/menu/main.astro'
---
<BaseLayout pageTitle={pageTitle}, page_url={url}, card_name={card_name}>
    <Menu slot="menu" />
    <p>
        最新の投稿: <a href={baseurl + filteredPost.slug}>{filteredPost.data.title}</a></p>
    {oldestPost !== undefined &&<p>
        最古の投稿: <a href={baseurl + oldestPost.slug}>{oldestPost.data.title}</a></p>}

</BaseLayout>
