---
import BaseLayout from "@/layouts/BookLayout.astro";
import Menu from "@/components/menu/main.astro";

const pageUrl = "/";
const cardUrl = new URL("/", Astro.url);

import { lambdaurl, localstorage_id_key_name, website_title } from "@/utils/vars.ts";
import RegisterUser from "@/components/registeruser/main.tsx"; 
import Favolabel from "@/components/favolabel/override.astro";
---
<style>
    .registeruser_box{
        text-align: center;
    }
</style>

<BaseLayout pageTitle={website_title} page_url={pageUrl} cardUrl={cardUrl}>
    <Menu slot="header" />
    <div class="registeruser_box">
        <RegisterUser 
            client:load
            localstorage_id_key={localstorage_id_key_name} 
    /><br />
    <Favolabel 
        api_url={lambdaurl} 
        localstorage_id_key={localstorage_id_key_name}
    />
    </div>
</BaseLayout>