---
import BaseLayout from "@/layouts/BookLayout.astro";
import Menu from "@/components/menu/main.astro";

const pageUrl = Astro.url.pathname;
const cardUrl = new URL("/card/main.png", Astro.url);

import {
    lambdaurl,
    website_title,
    login_page_path,
} from "@/utils/vars.ts";
import RegisterUser from "@/components/userform/main.tsx";
import Favolabel from "@/components/favolabel/main.tsx";
---

<style>
    .registeruser_box {
        text-align: center;
        margin-bottom: 20px;
    }
</style>

<BaseLayout pageTitle={website_title} page_url={pageUrl} cardUrl={cardUrl}>
    <Menu slot="header" />
    <div class="registeruser_box">
        <RegisterUser client:load api_url={lambdaurl} arg="auth" login_path={login_page_path} />
    </div>
    <div class="registeruser_box">
        <Favolabel client:load
            api_url={lambdaurl}
        />
    </div>
    今後、コンテンツが増える予定です。お楽しみに！
    <p>
        <a href="/register">新規ユーザー登録</a>
    </p>
</BaseLayout>
