---
import '@/styles/postsformat.css';

import BaseLayout from './BlogLayout.astro';
const { frontmatter } = Astro.props;
const pageTimestamp = frontmatter.pubDate.toISOString().split('T')[0];
const pageUrl = Astro.url.pathname;

// OGPカードはcards配下にファイル名と同じ名前.pngで作成する
const cardUrl = "/cards/" + pageUrl.split('/').at(-1) + ".png";

const pageTitle = frontmatter.title;
const pageTags = frontmatter.tags;
---
<BaseLayout 
    pageTitle={pageTitle},
    page_url={pageUrl},
    card_name={cardUrl}>
    <h1>{pageTitle}</h1>
    <div>Public date: {pageTimestamp}</div>
    <ul class="tags">{pageTags.map((item:string) => <li>{item}</li>)}</ul><p/>
    <slot />
</BaseLayout>